.login{
    position: absolute;
    z-index: 9999;
    top: 30%;
    left: 40%;
    width: 35%;
    height: 250px;
    background: #ccc;
    border-radius: 5px;
 
    
}
.login form{
    padding: 50px;
    display: flex;
    flex-direction: column;
}
.login form input{
  
    margin-bottom: 20px;
    padding: 5px;
    outline: none;
    border-radius: 5px;
    border: none;
    padding: 10px;
}
.login form input::placeholder{
    color: #aaa;
    padding: 5px;
}
.login form button{
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-weight: bold;
    background: #fff;
}
.login form button:hover{
    background: #999;
}
.login .cancel{
    position: absolute;
    top: 0;
    right: 10px;
    color: red;
    font-weight: bold;
    cursor: pointer;
}
.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 80px;
    height: 80px;
    margin: 8px;
    border-radius: 50%;
    border: 10px solid #444;
    border-color: #444 transparent #444 transparent;
    animation: lds-dual-ring 2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }