.page-main{
    animation: expand 1s ease forwards;
}
.dashboard{
    display: flex;

    width: 100%;
    transition: all 1s ease;
   
}
@keyframes expand {
    0% {
      transform: translateX(1400px);
    }
    100% {
      transform: translateX(0px);
    }
  }
.dashboard .phieuThue{

    flex: 6;
    border: 1px solid #bbb;
    margin: 10px;
    padding: 10px;
    flex-direction: column;
}
.dashboard .chiTietThue{
    flex: 6;
    border: 1px solid #bbb;
    margin: 10px;
    padding: 10px;
   
}
.dashboard .input{
    display: flex;
position: relative;
width: 60%;
margin-bottom: 10px;
}
.dashboard .input input{
    width: 100%;
    border: 1px solid #ccc;
    outline: none;

}
.dashboard .input button{
    border: 1px solid #ccc ;
    position: absolute;
    right: 0;
    
    
   
}
.dashboard .date{
    width: 60%;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    outline: none;
}

.dashboard select{
    width: 60%;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    outline: none;
}
.paginationPosts{
    
    width:40%;
    height: 40px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}
.pagination-dashboard{
    display: flex;
}
.pagination-dashboard .paginationPosts a{
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
   text-decoration: none;
    cursor: pointer;
    border: 1px solid #ccc;
}

.paginationActivePosts a{
    color: white;
    background: #cccc
}
.dashboard button:hover{
    background: #ccc;
}
