.customer{
    position: relative;


    animation: expand 1s ease forwards;
}

.add-customer{
    width: 100%;
    height: 50px;
    position: relative;
}
.add-customer i{
    position: absolute;
    right: 20px;
    font-size: 25px;
    background: green;
    padding: 10px 13px;
    color: white;
    border-radius: 50%;
}
.add-customer i:hover{
    font-size: 30px;
}

.modal-add{
    position: absolute;
    width: 50%;
    height:  350px;
    background: white;
    top: 30%;
    left: 25%;
    z-index: 9999;
    padding: 50px;
    border-radius: 5px;
    box-shadow:  0 0 5px #aaa;
 
    
}
.modal-add .cancel-modal{
    position: absolute;
    top: 0;
    right: 5px;
    font-weight: bold;
    color: red;
    font-size: 20px;
    cursor: pointer;
}
.modal-add form{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.modal-add form input {
    margin-bottom: 30px;
    padding: 7px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #ccc;
}
.modal-add form button{
    padding: 7px;
    border-radius: 5px;
    border: none;
    background:#eee;
    color: #999;
    font-weight: bold;
}
.modal-add form button:hover{
    background: #ccc;
    color: black;
}
.btn-phieuThue{

    border: 1px solid #aaa;
    background: transparent;
    padding: 5px;
    border-radius: 3px;
}