.topbar{
    display: flex;
    width: 100%;
    height: 70px;
    background: #eee;
    justify-content: space-between;
    
}
.topbar .logo-topbar{
    margin-left:50px;
  
}
.topbar .logo-topbar a{

    text-decoration: none;
    color: royalblue;
    font-size:20px;
    text-transform: capitalize;
}
.topbar .login-user{
    margin-right: 50px;
  
    font-size: 50px;
  
}
.topbar .info{
    margin-right: 50px;
    font-size: 20px;
    text-transform: capitalize;
    color: red;
}